extends c
priority 1

# #include <...>
snippet inc
#include <${1:iostream}>
endsnippet

snippet us
using namespace ${1:std};
endsnippet

snippet for
for (int ${2:i} = 0; $2 < ${1:count}; $2${3:++}) {
	${4:${VISUAL}}
}
endsnippet
